h1 {
  font-weight: 500; }

h2 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 25px;
  letter-spacing: -0.8px;
  margin-top: 5px;
  text-align: left; }

a {
  color: inherit; }

p {
  font-size: 14px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;
  overflow-y: scroll;
  background: #3bbff8;
  height: 100vh;
  color: #fff; }

.content {
  height: 600px;
  width: 90%;
  max-width: 800px;
  margin: auto; }
  @media (min-height: 600px) {
    .content {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); } }

.left-column {
  float: left;
  width: 295px;
  max-width: 61.8%;
  height: 100%;
  background: url("/assets/iphone-background.png");
  background-size: 100% 100%; }
  @media (max-width: 905px) {
    .left-column {
      display: none; } }
  .left-column .video-container {
    position: absolute;
    width: 256px;
    height: 454px;
    top: 72px;
    left: 20px;
    background: black; }
    .left-column .video-container video {
      width: 100%;
      height: 100%; }

.right-column {
  position: relative;
  float: left;
  height: 100%;
  width: 415px;
  margin-left: 90px; }
  .right-column .wrapper {
    max-width: 450px;
    margin: auto; }
    @media (min-height: 600px) {
      .right-column .wrapper {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); } }
    @media (max-height: 599px) {
      .right-column .wrapper {
        margin-top: 80px; } }
  .right-column .logo {
    height: 37px; }
    @media (max-width: 400px) {
      .right-column .logo {
        height: auto;
        width: 100%; } }
  @media (max-width: 445px) {
    .right-column h2 {
      font-size: 15px; } }
  @media (max-width: 905px) {
    .right-column h2 {
      text-align: center; } }
  .right-column .promo-video {
    display: block;
    width: 100%;
    height: 203px;
    background-color: black;
    background: url("/assets/video-thumbnail.png");
    background-size: cover;
    border-radius: 6px;
    margin: 30px 0 30px 0;
    transform: scale(1, 1);
    transition: transform 0.3s ease; }
    .right-column .promo-video:hover, .right-column .promo-video:focus {
      cursor: pointer;
      transform: scale(0.95, 0.95); }
    .right-column .promo-video a {
      display: block;
      height: 100%;
      width: 100%; }
  .right-column .download-btn {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 6px;
    transform: scale(1, 1);
    transition: transform 0.3s ease; }
    .right-column .download-btn:hover, .right-column .download-btn:focus {
      cursor: pointer;
      transform: scale(0.95, 0.95); }
  @media (max-width: 905px) {
    .right-column {
      width: 100%;
      margin: auto;
      text-align: center; } }

#breakpoint {
  display: none; }
  @media (max-width: 374px) {
    #breakpoint {
      display: inline; } }

.credits {
  position: absolute;
  width: 100%;
  bottom: -100px;
  padding-bottom: 20px;
  text-align: center; }
  .credits h5,
  .credits h6 {
    font-size: 14px;
    letter-spacing: -0.8px;
    margin-top: 0;
    margin-bottom: 5px; }
  .credits h5 {
    font-weight: 400; }
  .credits h6 {
    font-weight: 700; }
  .credits a {
    text-decoration: none; }
