// font-family:'AvenirNextLTW01-Regular';
// font-family:'AvenirNextLTW01-Medium';

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$blue: #3bbff8;

h1 {
  font-weight: 500;
}
h2 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 25px;
  letter-spacing: -0.8px;
  margin-top: 5px;
  text-align: left;
}
a {
  color: inherit;
}
p {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;
  overflow-y: scroll;
  background: $blue;
  height: 100vh;
  color: #fff;
}

.content {
  @media (min-height: 600px) {
    @include vertical-align;
  }
  height: 600px;
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.left-column {
  float: left;
  width: 295px;
  max-width: 61.8%;
  height: 100%;
  background: url("/assets/iphone-background.png");
  background-size: 100% 100%;

  @media (max-width: 905px) {
    display: none;
  }

  .video-container {
    position: absolute;
    width: 256px;
    height: 454px;
    top: 72px;
    left: 20px;
    background: black;
    video {
      width: 100%;
      height: 100%;
    }
  }
}

.right-column {
  position: relative;
  float: left;
  height: 100%;
  width: 415px;
  margin-left: 90px;
  .wrapper {
    @media (min-height: 600px) {
      @include vertical-align;
    }
    @media (max-height: 599px) {
      margin-top: 80px;
    }
    max-width: 450px;
    margin: auto;
  }
  .logo {
    height: 37px;
    @media (max-width: 400px) {
      height: auto;
      width: 100%;
    }
  }
  h2 {
    @media (max-width: 445px) {
      font-size: 15px;
    }
    @media (max-width: 905px) {
      text-align: center;
    }
  }
  .promo-video {
    display: block;
    width: 100%;
    height: 203px;
    background-color: black;
    background: url("/assets/video-thumbnail.png");
    background-size: cover;
    border-radius: 6px;
    margin: 30px 0 30px 0;
    transform: scale(1, 1);
    transition: transform 0.3s ease;
    &:hover,
    &:focus {
      cursor: pointer;
      transform: scale(0.95, 0.95);
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .download-btn {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 6px;
    transform: scale(1, 1);
    transition: transform 0.3s ease;
    &:hover,
    &:focus {
      cursor: pointer;
      transform: scale(0.95, 0.95);
    }
  }
  @media (max-width: 905px) {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}
#breakpoint {
  display: none;
  @media (max-width: 374px) {
    display: inline;
  }
}

.credits {
  position: absolute;
  width: 100%;
  bottom: -100px;
  padding-bottom: 20px;
  h5,
  h6 {
    font-size: 14px;
    letter-spacing: -0.8px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  h5 {
    font-weight: 400;
  }
  h6 {
    font-weight: 700;
  }
  a {
    text-decoration: none;
  }
  text-align: center;
}
